@use "sass:map";
@use "../../styles/abstracts/variables" as *;

.topPage {
  .chartComponent {
    margin-left: 0;
    margin-right: 0;
    height: auto;

    .achievement {
      position: relative;
      background: url("/images/mypage/mypage-banner.jpg") no-repeat center center / cover;
      width: 100%;
      
      @media (min-width: 1280px) {
        height: 312px;
      }
    }

    .bodyRecord {
      background-color: map.get($colors, "dark-600");
    }
  }

  .recommendedColumnItem {
    flex: 1;
    padding: 24px 8px 22px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-self: center;
    @media (max-width: map.get($breakpoints, "sm")) {
      flex: 0 0 100%;
      width: 100%;
    }
    .shortLine {
      align-self: center;
      width: 56px;
      height: 1px;
      background-color: map.get($colors, "light");
    }
  }
}
