@use "sass:map";
@use "../../styles/abstracts/variables" as *;

.header {
  .logo {
    width: 144px;
    height: auto;
  }

  .itemMenuWithIcon {
    padding-left: 8px;
    padding-right: 16px;
    @media (max-width: map.get($breakpoints, "sm")) {
      display: none;
    }
    .badge {
      position: absolute;
      top: 0;
      right: -8px;
      background-color: map.get($colors, "primary-500");
      color: white;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      line-height: 2;
    }
    p {
      min-width: 96px;
    }
  }

  .menuCollapse {
    position: absolute;
    right: 0;
    top: 54px;
    width: 280px;
    opacity: 0;
    display: none;
    background-color: map.get($colors, "gray-400");
    &.active {
      opacity: 1;
      display: block;
      z-index: 100;
    }
    @media (max-width: map.get($breakpoints, "sm")) {
      width: 100vw;
      right: -16px;
    }
    ul {
      list-style: none;
      li {
        a {
          display: block;
          padding: 16px 32px;
          border-bottom: 1px solid map.get($colors, "gray-500");
          border-top: 1px solid map.get($colors, "gray-300");
          color: map.get($colors, "light");
          text-decoration: none;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: map.get($colors, "primary-300");
          }
        }
      }
    }
  }
}
