@use "sass:map";
@use "../../styles/abstracts/variables" as *;

.footer {
  .footer__links {
    @media (max-width: map.get($breakpoints, "md")) {
      flex-direction: column;
      margin-top: 24px;
      margin-bottom: 24px;
      align-items: center;
      gap: 16px;
    }
  }
}
